.downloader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    gap:30px;
    height: 70vh;
}

input{
    background-color:transparent;
    border: 1px solid white;
    padding: 5px 10px;
    width: 250px;
    color: white;
    border-radius: 5px;
    text-indent: 5px;

}
button{
    background-color:red;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 40px;
    margin-bottom: 30px;
}
.static{
    width: 65px;
    margin-right: 10px;
}

@media screen and (max-width:1020px) {
    .downloader{
        flex-direction:column;
        gap: 10px;
        height: 80vh;
    }
       
}