.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.icons{
    display: flex;
    gap: 20px;
}
@media screen and (max-width:1020px) {
    .foot{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}