.boxeer{
    margin-top: 50px;
    margin-bottom: 50px;

}
.about{
    border: 1px solid rgb(180, 180, 180);
    padding: 30px 0 30px 60px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.para{
    width:80%;
    font-size: 13px;
    color: rgb(160, 160, 160);
}

.down{
    background-color:#21252D;
    height:100px;
    width:100%;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}
.imager{
    display: flex;
    gap: 15px;
    align-items:center;
}
.imager h4 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.imager p {
    margin: 0;
    padding: 0;
}

.apper{

    display: flex;
}
.apper img{
    margin:0 10px;
}

@media screen and (max-width:1020px) {
    .down{
        display: block;
        height:auto;
        padding:30px 10px;
    }
    .apper img{
        margin: 10px 10px;
    }
    .imager h4 {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
    .imager p {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
}